In [1]:
import numpy as np
import pandas as pd

In [2]:
#Importing CSV file data to panadas
# addeding header = None, will let us add the header later since the CSV does not have any header

#data = pd.read_csv('C:/Users/Khaled/Desktop/IRON HACK/project-3-ironhack-delivery-es/fake_orders_test.csv', header=None)
data = pd.read_csv('python_raw_data/fake_orders_test.csv', header=None)
data.head()


#Specific the header columns names and then set the header without replacing the data
new_header = ["order_id", "activation_time_local", "country_code", "store_address", 
    "final_status", "payment_status", "products", "products_total", "purchase_total_price"]
data.columns = new_header

# Verify the changes
len(data)
data.head()

,order_id,activation_time_local,country_code,store_address,final_status,payment_status,products,products_total,purchase_total_price
0,33557880,2019-03-10 23:59:59.000000,AR,14200,DeliveredStatus,PAID,1,4.54,8.64
1,33512615,2019-03-10 23:58:32.000000,TR,28725,DeliveredStatus,PAID,1,3.76,3.76
2,33512451,2019-03-10 23:57:56.000000,TR,28725,DeliveredStatus,PAID,1,2.86,2.86
3,33530892,2019-03-10 23:57:33.000000,ES,19777,CanceledStatus,PAID,1,12.95,0.00
4,33557765,2019-03-10 23:57:21.000000,AR,34565,DeliveredStatus,PAID,2,2.86,6.48

## Step 1: Calculate the percentage of under-authorized orders

In [3]:
under_authorized_orders = data[data['products_total'] < data['purchase_total_price']]
percent_under_authorized = len(under_authorized_orders) / len(data['products_total']) * 100

percent_under_authorized

57.58443708609271

## Step 2: Percent of orders would be correctly authorized with incremental authorization (+20%) on the amount at checkout

In [4]:
incremental_authorized_orders = data[(data['products_total'] * 1.2) >= data['purchase_total_price']]
percent_incremental_authorized_orders = len(incremental_authorized_orders) / len(data['products_total']) * 100
percent_incremental_authorized_orders

69.03476821192052

## Step 3: Differences when split by country

In [5]:
# Calculate the percentage of under-authorized orders by country
under_authorized_by_country = data[data['products_total'] < data['purchase_total_price']].groupby('country_code').size()
order_per_country = data.groupby(data['country_code']).size()
percent_under_authorized_by_country = (under_authorized_by_country / order_per_country) * 100

percent_under_authorized_by_country

country_code
AR    60.597332
BR    50.000000
CI    33.333333
CL    87.047101
CR    44.896116
DO    63.600000
EC    64.234450
EG    62.910284
ES    62.197407
FR    65.636704
GE    51.831502
GT    33.156966
IT    55.306268
KE    56.382979
MA    40.686275
PA    60.809477
PE    55.903866
PR    42.424242
PT    58.085809
RO    46.423627
TR    50.661626
UA    48.628308
UY    42.631579
dtype: float64

## Step 4: Remainder of orders that would be outside of incremental authorization, what values would be necessary to capture the remaining amount

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60400 entries, 0 to 60399
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   order_id               60400 non-null  int64
 1   activation_time_local  60400 non-null  object
 2   country_code           60400 non-null  object
 3   store_address          60400 non-null  int64
 4   final_status           60400 non-null  object
 5   payment_status         60400 non-null  object
 6   products               60400 non-null  int64
 7   products_total         60400 non-null  float64
 8   purchase_total_price   60400 non-null  float64
dtypes: float64(2), int64(3), object(4)
memory usage: 4.1+ MB

In [28]:
outside_incremental_authorized = data[(data['products_total'] * 1.2) < data['purchase_total_price']].copy()
outside_incremental_authorized['extra_percentage_needed'] = (outside_incremental_authorized['purchase_total_price'] - outside_incremental_authorized['products_total'] * 1.2) / (outside_incremental_authorized['products_total']) * 100
outside_incremental_authorized[['order_id', 'products_total', 'purchase_total_price', 'extra_percentage_needed']]

       order_id  products_total  purchase_total_price  extra_percentage_needed
0      33557880            4.54                  8.64                70.308370
4      33557765            2.86                  6.48               106.573427
10     33523444            2.05                 10.17               376.097561
12     33530379            8.10                 10.20                 5.925926
20     33509944            4.42                  5.73                 9.638009
...         ...             ...                   ...                      ...
60371  32004484            9.83                 21.44                98.107833
60373  31969645            3.28                  6.56                80.000000
60374  31968802            2.46                  5.25                93.414634
60380  31965637            3.44                  6.89                80.290698
60389  32002620            1.79                  5.36               179.441341

[18703 rows x 4 columns]

In [9]:
outside_incremental_authorized['extra_percentage_needed'].info()

<class 'pandas.core.series.Series'>
Index: 18703 entries, 0 to 60389
Series name: extra_percentage_needed
Non-Null Count  Dtype
--------------  -----
18703 non-null  float64
dtypes: float64(1)
memory usage: 292.2 KB

In [10]:
outside_incremental_authorized.describe()

/home/moises/.virtualenvs/dataanalyst/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

,order_id,store_address,products,products_total,purchase_total_price,extra_percentage_needed
count,1.870300e+04,18703.000000,18703.000000,18703.000000,18703.000000,1.870300e+04
mean,3.278163e+07,41075.577715,2.883869,7.039918,13.187707,inf
std,4.466078e+05,22438.179761,2.308704,7.094022,12.596314,NaN
min,3.150378e+07,190.000000,1.000000,0.000000,0.090000,1.340647e-14
25%,3.239596e+07,18152.000000,1.000000,2.570000,5.730000,1.657328e+01
50%,3.278623e+07,45124.000000,2.000000,5.030000,9.940000,5.135135e+01
75%,3.318670e+07,61975.000000,4.000000,9.240000,16.490000,1.131299e+02
max,3.356003e+07,74889.000000,20.000000,134.200000,265.760000,inf

## Step 5: Stores are the most problematic in terms of orders and monetary value

In [33]:
#Which stores are the most problematic in terms of orders and monetary value?
under_authorized = data[data['products_total'] < data['purchase_total_price']].copy()
under_authorized['diff'] = under_authorized['purchase_total_price'] - under_authorized['products_total']

order_per_store = under_authorized.groupby('store_address').agg({'diff': ['count', 'sum']}).reset_index()
order_per_store.columns = ['store_address', 'diff_count', 'diff_sum']
order_per_store.describe()

       store_address   diff_count     diff_sum
count     4566.00000  4566.000000  4566.000000
mean     45144.28756     7.617389    28.356095
std      22300.35111    14.360395    67.760076
min        190.00000     1.000000     0.010000
25%      28276.00000     1.000000     2.760000
50%      51145.50000     3.000000     9.410000
75%      64167.50000     8.000000    27.650000
max      75114.00000   448.000000  1781.130000

In [31]:
# A partir del describe() podemos ver que en el tercer quartil el count de orders es 8 o más y el sum de difencias de importes es 27.65 o más
# Seleccionamos las tiendas que están en el quartil de uno de esos dos
order_per_store[(order_per_store['diff_count'] >= 8) & (order_per_store['diff_sum'] >= 27.65)].sort_values(['diff_sum', 'diff_count'], ascending=False)

      store_address  diff_count  diff_sum
452           10264          59   1781.13
1153          28669         158   1185.70
3572          65896          68   1011.47
435            9855          31    907.03
659           14455         179    791.41
...             ...         ...       ...
3839          68222           8     27.96
1180          28997          11     27.94
4129          70375           8     27.75
3252          62647           8     27.73
992           20137          13     27.65

[873 rows x 3 columns]

## Step 6: correlation between the difference in the prices and the cancellation of the order? In other words: Is an order more likely to be cancelled as the price difference increases?

In [32]:
data['price_difference'] = data['purchase_total_price'] - data['products_total']
data['is_canceled'] = data['final_status'] == 'CanceledStatus'

correlation = data[['price_difference', 'is_canceled']].corr().loc['price_difference', 'is_canceled']

correlation
# there is a **moderate** correlation between the price differnce and the cancellation of the order

np.float64(-0.43295477312169933)