# 1:  KPIs (25 puntos)

###### Tiempo de entrega promedio (Average Delivery Time):
La rapidez en la entrega es crucial en servicios de delivery, ya que afecta directamente la satisfacción del cliente y su probabilidad de repetir el servicio. Este KPI mide el tiempo total desde la activación del pedido hasta su entrega y permite evaluar la eficiencia logística.
Estimación: Para estimarlo, podemos calcular la diferencia de tiempo entre la activation_time_local y un timestamp final asociado al estatus de "entregado" (final_status = 'delivered'). Con estos datos, podríamos calcular el tiempo promedio para todos los pedidos exitosos.
Mejoras: Podría reducirse optimizando las rutas y asegurando una asignación rápida de los repartidores. También, la implementación de tecnologías de inteligencia artificial para predecir la demanda en ciertas zonas o momentos puede ayudar a tener repartidores listos donde son más necesarios.

##### Tasa de Cancelación de Pedidos (Order Cancellation Rate):
Este KPI mide la proporción de pedidos cancelados, lo cual puede ser un indicador de problemas logísticos, tiempos de espera altos o dificultades en el pago. Una alta tasa de cancelación puede señalar problemas en la operación que afectan la experiencia del cliente.
Estimación: Calculando el porcentaje de pedidos que no alcanzan el estado de "delivered" (final_status != 'delivered').
Mejoras: Reducir esta tasa implica optimizar la gestión de inventario, mejorar la precisión de las estimaciones de tiempos y solucionar problemas operativos que dificulten la entrega.

##### Encuestas de satisfacción post-entrega
Implementación: Después de cada entrega, se puede enviar una encuesta breve al cliente, pidiéndole que califique su experiencia en una escala del 1 al 5 o del 1 al 10. Esta encuesta puede incluir preguntas sobre la puntualidad, la calidad del servicio y la facilidad de uso de la plataforma.
Ventajas: La encuesta directa permite capturar la satisfacción del cliente de manera precisa. Las preguntas pueden personalizarse para obtener comentarios específicos y detectar áreas de mejora.
Cálculo: La puntuación promedio de estas encuestas representa la satisfacción general. Si se usa una escala de 1 a 5, se puede establecer un objetivo (por ejemplo, una puntuación promedio superior a 4) como indicador de buena satisfacción.

## 2: SQL (25 puntos)

.headers on
drop table if exists customer_courier_conversations;
create table customer_courier_conversations as
    with
        -- columna 3: Marca de tiempo del primer mensaje del repartidor
        first_courier_timestamp as (
        select
            order_id,
            min(message_sent_time) as first_courier_timestamp
        from messages
        group by order_id
        having sender_app_type like 'Courier%'
        ),
        -- columna 4: Marca de tiempo del primer mensaje del cliente
        first_customer_timestamp as (
        select
            order_id,
            min(message_sent_time) as first_customer_timestamp
        from messages
        group by order_id
        having sender_app_type like 'Customer%'
        ),
        -- columna 5:Número de mensajes del repartidor
        num_messages_courier as (
            select order_id, courier_id, count(message_sent_time) as num_msg_courier
            from messages where sender_app_type like 'Courier%' group by order_id, courier_id
        ),
        -- columna 6:Número de mensajes del cliente
        num_messages_customer as (
            select order_id, customer_id, count(message_sent_time) as num_msg_customer
            from messages where sender_app_type like 'customer%' group by order_id, customer_id
        ),
        -- columna 7: El primer remitente del mensaje (repartidor o cliente)
        primer_mensaje as (
            select order_id, min(message_sent_time) as first_timestamp from messages group by order_id
        ),
        primer_remitente as (
            select
                messages.order_id, substr(sender_app_type, 1, instr(sender_app_type, ' ') - 1) as primer_remitente
            from messages join primer_mensaje on messages.order_id = primer_mensaje.order_id
            where message_sent_time = first_timestamp
        ),
        -- columna 9: Tiempo (en segundos) transcurrido hasta la primera respuesta
        ordered_messages as (
            select order_id, message_sent_time, row_number() over (partition by order_id order by message_sent_time) as row_num 
            from messages
        ),
        tiempo_segundos as (
            SELECT 
                m1.order_id,
                m1.message_sent_time AS first_message_time,
                m2.message_sent_time AS second_message_time,
                round((JULIANDAY(m2.message_sent_time) - JULIANDAY(m1.message_sent_time)) * 86400) AS time_diff_seconds
            FROM 
                ordered_messages AS m1
            JOIN 
                ordered_messages AS m2 
            ON 
                m1.order_id = m2.order_id
                AND m1.row_num = 1
                AND m2.row_num = 2
            ORDER BY 
                m1.order_id
        ),
        -- columna 10: Timestamp of the last message sent
        last_message_time as (
            select order_id, order_stage as last_order_stage, max(message_sent_time) as last_message_time
            from messages
            group by order_id
        )
    select distinct orders.order_id, city_code,
           first_courier_timestamp, first_customer_timestamp,
           num_msg_courier, num_msg_customer,
           primer_remitente, first_timestamp,
           time_diff_seconds,
           last_message_time, last_order_stage
           
    from messages join orders on messages.order_id = orders.order_id
              left join first_courier_timestamp on orders.order_id = first_courier_timestamp.order_id
              left join  first_customer_timestamp on orders.order_id = first_customer_timestamp.order_id
              left join num_messages_courier on orders.order_id = num_messages_courier.order_id
              left join num_messages_customer on orders.order_id = num_messages_customer.order_id
              left join primer_remitente on orders.order_id = primer_remitente.order_id
              left join primer_mensaje on orders.order_id = primer_mensaje.order_id
              left join tiempo_segundos on orders.order_id = tiempo_segundos.order_id
              left join last_message_time on orders.order_id = last_message_time.order_id;

select * from customer_courier_conversations;

--                 substr(sender_app_type, 1, instr(sender_app_type, ' ') - 1) as primer_remitente

## 3. Experimento (25 puntos)

Nos gustaría medir el impacto de aumentar la tarifa de entrega de pedidos en una ciudad dada (sin considerar el valor de los productos), de €1.9 a €2.1, en los KPIs de la empresa.

Se te pide diseñar el experimento desde la etapa conceptual, planificar el análisis empírico y presentar las recomendaciones según los resultados del experimento.

Explica en detalle cómo abordarías esta tarea, enfocándote en lo siguiente:

### ¿Qué tipo de prueba requeriría esto?

AB Testing

### ¿Probarías esto solo en nuevos usuarios o en todos los usuarios activos? ¿Por qué? 

Seleccionaríamos una muestra aleatoria para la var B para no arriesgar perder muchos clientes pero suficiente para que los resultados sean significativo.

### ¿Qué suposiciones harías y cómo probarías si estas suposiciones son correctas?

La aleatorización es efectiva: Asumimos que los grupos A/B son similares en todos los aspectos excepto en el tratamiento.

Prueba: Comparar las métricas previas al experimento entre los grupos para asegurar el equilibrio.
No habrá factores externos significativos que influyan en los resultados durante el experimento.

Prueba: Monitorear eventos inusuales o campañas de marketing durante el periodo de prueba.
El tamaño de la muestra es lo suficientemente grande para detectar diferencias significativas.

Prueba: Realizar un análisis de poder para determinar el tamaño de muestra necesario.
El efecto del cambio de precio es consistente en el tiempo.

Prueba: Analizar tendencias diarias durante el experimento.

### ¿Qué enfoque usarías para determinar la duración del experimento?

Realizar un análisis de poder para calcular el tamaño mínimo de muestra necesario para detectar una diferencia estadísticamente significativa.
Estimar el volumen diario de pedidos en la ciudad.
Calcular el número de días requeridos para alcanzar el tamaño de muestra mínimo.
Agregar un margen de seguridad (por ejemplo, 20%) para considerar posibles fluctuaciones.
Asegurarse de que la duración cubra al menos dos semanas completas para considerar patrones semanales.

### ¿Qué KPIs/métricas elegirías para evaluar el éxito de la prueba?

Las métricas clave para evaluar el éxito de la prueba son:

Tasa de Conversión: Porcentaje de usuarios que realizan un pedido.
Valor Promedio de Pedido (AOV).
Ingresos por Usuario.
Frecuencia de Pedido.
Tasa de Retención de Clientes.
Puntuación Neta del Promotor (NPS) o métricas de satisfacción del cliente.
Ingresos por Tarifa de Entrega.
Ingresos Totales.

### ¿Qué pasos tomarías para analizar los resultados de la prueba?

Recopilación de Datos: Recopilar datos sobre todas las métricas relevantes para ambos grupos durante el experimento.
Limpieza de Datos: Eliminar cualquier valor atípico o puntos de datos erróneos.
Estadísticas Descriptivas: Calcular medias, medianas y desviaciones estándar para cada métrica en ambos grupos.
Pruebas de Hipótesis: Realizar pruebas t o pruebas de Mann-Whitney U para determinar si existen diferencias estadísticamente significativas entre los grupos para cada métrica.
Cálculo del Tamaño del Efecto: Determinar la magnitud de las diferencias utilizando métricas como la d de Cohen.
Análisis de Segmentación: Analizar el impacto en diferentes segmentos de usuarios (por ejemplo, usuarios de alta frecuencia frente a baja frecuencia).
Análisis de Series Temporales: Examinar las tendencias durante el curso del experimento para asegurar consistencia.
Evaluación del Impacto Económico: Calcular el impacto financiero general del cambio de precio.

### ¿Cuáles serían tus recomendaciones según los resultados de la prueba?

Si hay un impacto positivo en los ingresos con efectos negativos mínimos:

Implementar el aumento de precio en toda la ciudad.
Considerar una implementación gradual en otras ciudades.
Si hay un impacto negativo en métricas clave (por ejemplo, disminución significativa en la tasa de conversión):

Mantener los precios actuales.
Investigar estrategias alternativas para aumentar los ingresos.
Si los resultados son mixtos:

Analizar qué segmentos de usuarios se vieron más afectados.
Considerar implementar el aumento de precio solo para los segmentos menos sensibles al precio.
Explorar formas de agregar valor para justificar el aumento de precio (por ejemplo, tiempos de entrega más rápidos).
Si el impacto es mínimo:

Considerar probar un aumento de precio mayor.
Investigar otros factores que puedan tener un impacto más significativo en los ingresos.
Independientemente del resultado:

Utilizar los conocimientos adquiridos para informar futuras estrategias de precios.
Continuar monitoreando los efectos a largo plazo de cualquier cambio implementado.
Siguiendo este enfoque, podemos evaluar sistemáticamente el impacto del aumento en la tarifa de entrega y tomar decisiones basadas en datos para optimizar la estrategia de precios.

# 4. Análisis Exploratorio de Datos (Ejercicio de Programación Estadística) (25 puntos)

In [1]:
import numpy as np
import pandas as pd

In [2]:
#Importing CSV file data to panadas
# addeding header = None, will let us add the header later since the CSV does not have any header

#data = pd.read_csv('C:/Users/Khaled/Desktop/IRON HACK/project-3-ironhack-delivery-es/fake_orders_test.csv', header=None)
data = pd.read_csv('python_raw_data/fake_orders_test.csv', header=None)
data.head()


#Specific the header columns names and then set the header without replacing the data
new_header = ["order_id", "activation_time_local", "country_code", "store_address", 
    "final_status", "payment_status", "products", "products_total", "purchase_total_price"]
data.columns = new_header

# Verify the changes
len(data)
data.head()

,order_id,activation_time_local,country_code,store_address,final_status,payment_status,products,products_total,purchase_total_price
0,33557880,2019-03-10 23:59:59.000000,AR,14200,DeliveredStatus,PAID,1,4.54,8.64
1,33512615,2019-03-10 23:58:32.000000,TR,28725,DeliveredStatus,PAID,1,3.76,3.76
2,33512451,2019-03-10 23:57:56.000000,TR,28725,DeliveredStatus,PAID,1,2.86,2.86
3,33530892,2019-03-10 23:57:33.000000,ES,19777,CanceledStatus,PAID,1,12.95,0.00
4,33557765,2019-03-10 23:57:21.000000,AR,34565,DeliveredStatus,PAID,2,2.86,6.48

## Step 1: Calculate the percentage of under-authorized orders

In [3]:
under_authorized_orders = data[data['products_total'] < data['purchase_total_price']]
percent_under_authorized = len(under_authorized_orders) / len(data['products_total']) * 100

percent_under_authorized

57.58443708609271

## Step 2: Percent of orders would be correctly authorized with incremental authorization (+20%) on the amount at checkout

In [4]:
incremental_authorized_orders = data[(data['products_total'] * 1.2) >= data['purchase_total_price']]
percent_incremental_authorized_orders = len(incremental_authorized_orders) / len(data['products_total']) * 100
percent_incremental_authorized_orders

69.03476821192052

## Step 3: Differences when split by country

In [5]:
# Calculate the percentage of under-authorized orders by country
under_authorized_by_country = data[data['products_total'] < data['purchase_total_price']].groupby('country_code').size()
order_per_country = data.groupby(data['country_code']).size()
percent_under_authorized_by_country = (under_authorized_by_country / order_per_country) * 100

percent_under_authorized_by_country

country_code
AR    60.597332
BR    50.000000
CI    33.333333
CL    87.047101
CR    44.896116
DO    63.600000
EC    64.234450
EG    62.910284
ES    62.197407
FR    65.636704
GE    51.831502
GT    33.156966
IT    55.306268
KE    56.382979
MA    40.686275
PA    60.809477
PE    55.903866
PR    42.424242
PT    58.085809
RO    46.423627
TR    50.661626
UA    48.628308
UY    42.631579
dtype: float64

## Step 4: Remainder of orders that would be outside of incremental authorization, what values would be necessary to capture the remaining amount

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60400 entries, 0 to 60399
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   order_id               60400 non-null  int64
 1   activation_time_local  60400 non-null  object
 2   country_code           60400 non-null  object
 3   store_address          60400 non-null  int64
 4   final_status           60400 non-null  object
 5   payment_status         60400 non-null  object
 6   products               60400 non-null  int64
 7   products_total         60400 non-null  float64
 8   purchase_total_price   60400 non-null  float64
dtypes: float64(2), int64(3), object(4)
memory usage: 4.1+ MB

In [28]:
outside_incremental_authorized = data[(data['products_total'] * 1.2) < data['purchase_total_price']].copy()
outside_incremental_authorized['extra_percentage_needed'] = (outside_incremental_authorized['purchase_total_price'] - outside_incremental_authorized['products_total'] * 1.2) / (outside_incremental_authorized['products_total']) * 100
outside_incremental_authorized[['order_id', 'products_total', 'purchase_total_price', 'extra_percentage_needed']]

       order_id  products_total  purchase_total_price  extra_percentage_needed
0      33557880            4.54                  8.64                70.308370
4      33557765            2.86                  6.48               106.573427
10     33523444            2.05                 10.17               376.097561
12     33530379            8.10                 10.20                 5.925926
20     33509944            4.42                  5.73                 9.638009
...         ...             ...                   ...                      ...
60371  32004484            9.83                 21.44                98.107833
60373  31969645            3.28                  6.56                80.000000
60374  31968802            2.46                  5.25                93.414634
60380  31965637            3.44                  6.89                80.290698
60389  32002620            1.79                  5.36               179.441341

[18703 rows x 4 columns]

In [9]:
outside_incremental_authorized['extra_percentage_needed'].info()

<class 'pandas.core.series.Series'>
Index: 18703 entries, 0 to 60389
Series name: extra_percentage_needed
Non-Null Count  Dtype
--------------  -----
18703 non-null  float64
dtypes: float64(1)
memory usage: 292.2 KB

In [10]:
outside_incremental_authorized.describe()

/home/moises/.virtualenvs/dataanalyst/lib/python3.12/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

,order_id,store_address,products,products_total,purchase_total_price,extra_percentage_needed
count,1.870300e+04,18703.000000,18703.000000,18703.000000,18703.000000,1.870300e+04
mean,3.278163e+07,41075.577715,2.883869,7.039918,13.187707,inf
std,4.466078e+05,22438.179761,2.308704,7.094022,12.596314,NaN
min,3.150378e+07,190.000000,1.000000,0.000000,0.090000,1.340647e-14
25%,3.239596e+07,18152.000000,1.000000,2.570000,5.730000,1.657328e+01
50%,3.278623e+07,45124.000000,2.000000,5.030000,9.940000,5.135135e+01
75%,3.318670e+07,61975.000000,4.000000,9.240000,16.490000,1.131299e+02
max,3.356003e+07,74889.000000,20.000000,134.200000,265.760000,inf

## Step 5: Stores are the most problematic in terms of orders and monetary value

In [33]:
#Which stores are the most problematic in terms of orders and monetary value?
under_authorized = data[data['products_total'] < data['purchase_total_price']].copy()
under_authorized['diff'] = under_authorized['purchase_total_price'] - under_authorized['products_total']

order_per_store = under_authorized.groupby('store_address').agg({'diff': ['count', 'sum']}).reset_index()
order_per_store.columns = ['store_address', 'diff_count', 'diff_sum']
order_per_store.describe()

       store_address   diff_count     diff_sum
count     4566.00000  4566.000000  4566.000000
mean     45144.28756     7.617389    28.356095
std      22300.35111    14.360395    67.760076
min        190.00000     1.000000     0.010000
25%      28276.00000     1.000000     2.760000
50%      51145.50000     3.000000     9.410000
75%      64167.50000     8.000000    27.650000
max      75114.00000   448.000000  1781.130000

In [31]:
# A partir del describe() podemos ver que en el tercer quartil el count de orders es 8 o más y el sum de difencias de importes es 27.65 o más
# Seleccionamos las tiendas que están en el quartil de uno de esos dos
order_per_store[(order_per_store['diff_count'] >= 8) & (order_per_store['diff_sum'] >= 27.65)].sort_values(['diff_sum', 'diff_count'], ascending=False)

      store_address  diff_count  diff_sum
452           10264          59   1781.13
1153          28669         158   1185.70
3572          65896          68   1011.47
435            9855          31    907.03
659           14455         179    791.41
...             ...         ...       ...
3839          68222           8     27.96
1180          28997          11     27.94
4129          70375           8     27.75
3252          62647           8     27.73
992           20137          13     27.65

[873 rows x 3 columns]

## Step 6: correlation between the difference in the prices and the cancellation of the order? In other words: Is an order more likely to be cancelled as the price difference increases?

In [32]:
data['price_difference'] = data['purchase_total_price'] - data['products_total']
data['is_canceled'] = data['final_status'] == 'CanceledStatus'

correlation = data[['price_difference', 'is_canceled']].corr().loc['price_difference', 'is_canceled']

correlation
# there is a **moderate** correlation between the price difference and the cancellation of the order

np.float64(-0.43295477312169933)